header {
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 194, 44);
}

.card img {
  height: 200px;
  object-fit: cover;
}

.form-check {
  padding-left: 40px;
}

.filterzakucinja {
  background-color: rgb(255, 194, 44);
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-fixed {
  width: auto;
  height: 400px;
  object-fit: cover;
}





.goog-te-banner-frame.skiptranslate,
.goog-te-gadget-icon,
.goog-te-menu-value > span:first-child {
  display: none !important;
}

.goog-te-gadget {
  display: none !important;
}
.section-heading {
  font-size: 1.75rem;
  margin-bottom: 15px;
  color: #000000;
  border-bottom: 2px solid #000000;
  padding-bottom: 10px;
  font-weight: 600;
}
.section-content {
  margin-bottom: 40px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.carousel-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.small-carousel-image {
  max-height: 400px; /* Adjust this value as needed */
  object-fit: cover;
}

#puppy-details h2 {
  font-weight: 700;
}

#puppy-details p {
  font-weight: 500;
}

#puppy-details .btn {
  font-weight: 700;
}

#puppy-details .card img {
  max-height: 400px; /* Adjust this value as needed */
  object-fit: cover;
}


